<!DOCTYPE html>

<style>
    form {
        margin: auto;
        width: 35%;
    }
</style>

<head>
    <title>Определение возраста клиента банка</title>
</head>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <small> Введите contact</small>
        <input type="text" name=contact>
        <br>
        <br>
        <small> Введите default</small>
        <input type="text" name=default>
        <br>
        <br> <small> Введите education</small>
        <input type="text" name=education>
        <br>
        <br> <small> Введите housing</small>
        <input type="text" name=housing>
        <br>
        <br> <small> Введите job</small>
        <input type="text" name=job>
        <br>
        <br> <small> Введите loan</small>
        <input type="text" name=loan>
        <br>
        <br> <small> Введите marital</small>
        <input type="text" name=marital>
        <br>
        <br> <small> Введите month</small>
        <input type="text" name=month>
        <br>
        <br> <small> Введите poutcome</small>
        <input type="text" name=poutcome>
        <br>
        <br> <small> Введите y</small>
        <input type="text" name=y>
        <br>
        <br> <small> Введите balance</small>
        <input type="text" name=balance>
        <br>
        <br>
        <br> <small> Введите day</small>
        <input type="text" name=day>
        <br>
        <br>
        <br> <small> Введите duration</small>
        <input type="text" name=duration>
        <br>
        <br>
        <br> <small> Введите campaign</small>
        <input type="text" name=campaign>
        <br>
        <br>
        <br> <small> Введите pdays</small>
        <input type="text" name=pdays>
        <br>
        <br>
        <br> <small> Введите previous</small>
        <input type="text" name=previous>
        <br>
        <br>

        <button type="submit"> Получить прогноз </button>
    </fieldset>

    <div>
        {% if result %}
        <p style="font-size:50px">Прогнозный возраст клиента банка</p>

        <p style="font-size:50px">{{result}}</p>

        {% endif %}
    </div>
</form>